<%= simple_form_for @session do |f| %>
  <%= f.input :begin, as: :date, start_year: Date.today.year - 1, end_year: Date.today.year + 1 %>
  <%= f.input :begin, as: :time, minute_step: 30 %>
	<%= f.input :end, as: :time, minute_step: 30, default: 1.hour.from_now %>

	<h3>Participants
		<span class="actions">
			<%= link_to_add_association icon(:plus), f, :session_customers, "data-association-insertion-node": '#session_customers', class: "btn btn-default" %>
		</span>
	</h3>
	<div id="session_customers">
		<%= f.simple_fields_for :session_customers do |session_customer| %>
      <%= render 'session_customer_fields', f: session_customer %>
		<% end %>
	</div>

	<h3>Encadrants
		<span class="actions">
			<%= link_to_add_association icon(:plus), f, :session_users, "data-association-insertion-node": '#session_users', class: "btn btn-default" %>
		</span>
	</h3>
	<div id="session_users">
		<%= f.simple_fields_for :session_users do |session_user| %>
      <%= render 'session_user_fields', f: session_user %>
		<% end %>
	</div>

  <%= f.button :submit %>
<% end %>
