<% content_for :title, "Séance" %>

<div class="row">
	<p><%= l @session.begin %></p>
	<p><%= l @session.end %></p>
</div>

<div class="row">
	<h3>Participants</h3>
	<div class=".col-md-8">
		<% if @session.customers.present? %>
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
					<% @session.session_customers.each do |session_customer| %>
					<tr>
						<td><%= session_customer.customer.name %></td>
						<td><%= session_customer.observables.noted.count %> / <%= session_customer.observables.count %></td>
						<td>
							<%= link_to session_session_customer_path(@session, session_customer) do %>
							<i class="fa fa-eye fa-fw"></i>
							<% end %>
							<%= link_to session_customer.project do %>
							<i class="fa fa-list fa-fw"></i>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<h3>Encadrants</h3>

	<ul>
		<% @session.users.each do |user| %>
		<li><%= user.name %></li>
		<% end %>
	</ul>
</div>

<%= link_to 'Editer', edit_session_path(@session), class: "btn btn-primary" %>
<%= link_to 'Supprimer', session_path(@session), class: "btn btn-default", method: :delete, data: { confirm: "Etes vous sûr ?" }%>
