<%= simple_form_for @observable do |f| %>
  <%= f.input :name %>

	<%= f.input :observable_category_id, collection: @categories, include_blank: false %>

	<h3>Objectifs associés
		<span class="actions">
			<%= link_to_add_association icon(:plus), f, :goal_observables, "data-association-insertion-node": '#goal_observables', class: "btn btn-default" %>
		</span>
	</h3>
	<div id="goal_observables">
		<%= f.simple_fields_for :goal_observables do |goal_observable| %>
    <%= render 'goal_observable_fields', f: goal_observable %>
		<% end %>
	</div>
  <%= f.button :submit %>
<% end %>
