<% content_for :title, t('.title') %>

<% content_for :actions do %>
  <%= link_to icon(:plus), new_observable_path, class: "btn btn-primary" %>
<% end %>

<%= search_form do %>
  <div class="form-group">
	  <%= select_tag :observable_category_id, options_for_select([["Toutes", nil]]) + options_from_collection_for_select(@categories, "id", "name", params[:observable_category_id]), class: "form-control" %>
	</div>
<% end %>

<div class="row">
	<div class="col-md-12">
		<% if @observables.present? %>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><%= Observable.human_attribute_name(:name) %></th>
						<th><%= Observable.human_attribute_name(:goals) %></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @observables.each do |observable| %>
					<tr>
						<td><%= observable.name %></td>
						<td><%= observable.goals.count %></td>
						<td>
							<%= link_to observable_path(observable) do %>
							<i class="fa fa-eye fa-fw"></i>
							<% end %>
							<%= link_to edit_observable_path(observable) do %>
							<i class="fa fa-edit fa-fw"></i>
							<% end %>
							<%= link_to observable_path(observable), method: :delete, data: { confirm: "Etes vous sûr ?" } do %>
							<i class="fa fa-trash-o fa-fw"></i>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>

<%= paginate @observables %>
