<% content_for :title, t('.title', name: @observable.name) %>

<p><label><%= Observable.human_attribute_name(:observable_category) %>:</label> <%= @observable.observable_category.try :name %></p>

<h2><%= Observable.human_attribute_name(:goals) %></h2>

<ul>
<% @observable.goals.each do |goal| %>
<li><%= goal.name %></li>
<% end %>
</ul>

<%= link_to t('actions.edit'), edit_observable_path(@observable), class: "btn btn-primary" %>
<%= link_to t('actions.delete'), observable_path(@observable), class: "btn btn-default", method: :delete, data: { confirm: "Etes vous sûr ?" }%>
