<%= simple_form_for @sceance do |f| %>
  <%= f.input :begin, start_year: Date.today.year - 1, end_year: Date.today.year + 1, minute_step: 15 %>
	<%= f.input :end, minute_step: 15, default: 1.hour.from_now %>

	<h3>Participants
		<span class="actions">
			<%= link_to_add_association icon(:plus), f, :sceance_customers, "data-association-insertion-node": '#sceance_customers', class: "btn btn-default" %>
		</span>
	</h3>
	<div id="sceance_customers">
		<% if @sceance.errors.key?(:sceance_customers) %>
		<% @sceance.errors.full_messages_for(:sceance_customers).each do |message| %>
  		<div class="alert alert-danger"><%= message %></div>
 	  <% end %>
		<% end %>
		<%= f.simple_fields_for :sceance_customers do |sceance_customer| %>
      <%= render 'sceance_customer_fields', f: sceance_customer %>
		<% end %>
	</div>

	<h3>Encadrants
		<span class="actions">
			<%= link_to_add_association icon(:plus), f, :sceance_users, "data-association-insertion-node": '#sceance_users', class: "btn btn-default" %>
		</span>
	</h3>
	<div id="sceance_users">
		<% if @sceance.errors.key?(:sceance_users) %>
		<% @sceance.errors.full_messages_for(:sceance_users).each do |message| %>
  		<div class="alert alert-danger"><%= message %></div>
 	  <% end %>
		<% end %>
		<%= f.simple_fields_for :sceance_users do |sceance_user| %>
      <%= render 'sceance_user_fields', f: sceance_user %>
		<% end %>
	</div>

  <%= f.button :submit %>
<% end %>
