<% content_for :title, t('.title', begin: l(@sceance.begin, format: :short)) %>

<div class="row">
	<div class="col-md-12">
		<p><%= l @sceance.begin %></p>
		<p><%= l @sceance.end %></p>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Participants</h3>
		<% if @sceance.customers.present? %>
		<div class="table-responsive">
			<table class="table table-striped">
				<tbody>
					<% @sceance.sceance_customers.each do |sceance_customer| %>
					<tr>
						<td><%= sceance_customer.customer.name %></td>
						<td>
							<% if sceance_customer.observables.present? %>
  						  <%= sceance_customer.observables.evaluated.count %> / <%= sceance_customer.observables.count %>
							<% else %>
								Hors projet
							<% end %>
						</td>
						<td>
							<%= link_to sceance_sceance_customer_path(@sceance, sceance_customer) do %>
							<i class="fa fa-eye fa-fw"></i>
							<% end %>
							<% if sceance_customer.project %>
  							<%= link_to sceance_customer.project do %>
	    						<i class="fa fa-list fa-fw"></i>
			   				<% end %>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Encadrants</h3>

		<ul>
			<% @sceance.users.each do |user| %>
			<li><%= user.name %></li>
			<% end %>
		</ul>
	</div>
</div>

<%= link_to t('actions.edit'), edit_sceance_path(@sceance), class: "btn btn-primary" %>
<%= link_to t('actions.delete'), sceance_path(@sceance), class: "btn btn-default", method: :delete, data: { confirm: "Etes vous sûr ?" }%>
