<% content_for :title, "Séance de #{@session_customer.customer.name}" %>

<h3>Observations</h3>

<div class="row">
	<div class="col-md-12">
		<% if @session_customer.observables.present? %>
		<div class="table-responsive">
			<table id="project_observables" class="table table-striped">
				<tbody>
					<% @session_customer.observables.each do |session_observable| %>
					<tr id="session_observable_<%= session_observable.id %>" class="session_observable noted-<%= session_customer_observable_note_label(session_observable) %>">
						<td class="name"><%= session_observable.observable.name %></td>
						<td class="note">
							<% session_observable.observable.candidates.each do |candidate| %>
							  <span class="note-<%= session_customer_observable_note_label(candidate) %>">
  								<%= link_to_note_session_customer_observable session_observable, candidate %>
								</span>
							<% end %>
							<span class="note-<%= session_customer_observable_note_label(-1) %>">
								<%= link_to_note_session_customer_observable session_observable, -1, '>>' %>
							</span>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>

<%= link_to "Retour", @session_customer.session %>
