<% content_for :title, t('.title', name: @project.customer.name) %>

<p><label>Client:</label> <%= link_to @project.customer.name, @project.customer %></p>

<p>Du <%= l @project.begin %> au <%= l @project.end %></p>

<h3>Objectifs</h3>

<div class="row">
	<div class="col-md-8">
		<% if @project.goals.present? %>
		<div class="table-responsive">
			<table id="goals_table" class="table table-striped">
				<thead>
					<tr>
						<th><%= t('.goals_table.goal') %></th>
						<th><%= t('.goals_table.note') %></th>
					</tr>
				</thead>
				<tbody>
					<% @project.goals.each do |goal| %>
					<tr>
						<td><%= goal.name %></td>
						<td class="note"><%= number_with_precision(@project.notes.fetch(goal, '-'), precision: 1) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
	<% if @project.notes.present? %>
	<div class="col-md-4">
		<canvas id="radar"></canvas>
	</div>
	<%= javascript_tag do %>
 data = {
    labels: <%= @project.notes.keys.map { |g| truncate(g.name, length: 10) }.to_json.html_safe %>,
    datasets: [
        {
            label: "Objectifs",
            backgroundColor: "rgba(179,181,198,0.2)",
            borderColor: "rgba(179,181,198,1)",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: <%= @project.notes.values.to_json.html_safe %>
        }
      ]
	  };

	options = {
            scale: {
                ticks: {
                    beginAtZero: true
                }
            }
  };

	  new Chart($('#radar'), {
      type: 'radar',
      data: data,
      options: options
		});
	<% end %>
	<% end %>
</div>

<h3>Observations</h3>

<div class="row">
	<div class="col-md-12">
		<% if @project.observables.present? %>
		<div class="table-responsive">
			<table id="project_observables" class="table table-striped">
				<tbody>
					<% @project.project_observables.includes(:observable).each do |project_observable| %>
					<tr id="project_observable_<%= project_observable.id %>" class="project_observable <%= 'ignored' if project_observable.ignored? %>">
						<td class="name"><%= project_observable.observable.name %></td>
						<td>
							<%= link_to project_toogle_observable_path(@project), data: { remote: true, params: "project_observable_id=#{project_observable.id}" }, method: :put do %>
							<i class="action include fa fa-plus fa-fw"></i>
							<i class="action exclude fa fa-ban fa-fw"></i>
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<% end %>
	</div>
</div>

<%= link_to t('actions.edit'), edit_project_path(@project), class: "btn btn-primary" %>
<%= link_to t('actions.delete'), project_path(@project), class: "btn btn-default", method: :delete, data: { confirm: "Etes vous sûr ?" }%>
