<%= simple_form_for @update do |form| %>
  <div class="row">
    <div class="col-xs-4">
      <%= form.input :date, as: :date, start_year: Date.today.year - 1, end_year: Date.today.year + 1 %>
    </div>
    <div class="col-xs-3">
	    <%= form.input :time, as: :time, minute_step: 15, default: 1.hour.from_now %>
    </div>
  </div>
    <div class="col-xs-2">
      <div class="input-group">
	      <%= form.input :duration, collection: [30,45,60,90,120], default: 60, include_blank: false %>
      </div>
    </div>

  <div class="row">
    <%= form.input :enable_scheduling, as: :boolean %>

    <%= form.fields_for :scheduling do |form_scheduling| %>
    <div class="col-xs-4">
      <%= form_scheduling.input :end_date, as: :date, start_year: Date.today.year - 1, end_year: Date.today.year + 1 %>
    </div>
    <div class="col-xs-2">
	    <%= form_scheduling.input :repeat, collection: [1,2], default: 1, include_blank: false %>
    </div>
    <% end %>
  </div>

  <%= form.input :seance_id, as: :hidden %>

  <%= form.fields_for :seance do |f| %>
	  <h3>Participants
		  <span class="actions">
			  <%= link_to_add_association icon(:plus), f, :seance_customers, "data-association-insertion-node": '#seance_customers', class: "btn btn-default" %>
		  </span>
	  </h3>
	  <div id="seance_customers">
		  <% if @update.seance.errors.key?(:seance_customers) %>
		  <% @update.seance.errors.full_messages_for(:seance_customers).each do |message| %>
  	  <div class="alert alert-danger"><%= message %></div>
 	    <% end %>
		  <% end %>
		  <%= f.simple_fields_for :seance_customers do |seance_customer| %>
      <%= render 'seance_customer_fields', f: seance_customer %>
		  <% end %>
	  </div>

	  <h3><%= Group.model_name.human.pluralize %>
		  <span class="actions">
			  <%= link_to_add_association icon(:plus), f, :seance_groups, "data-association-insertion-node": '#seance_groups', class: "btn btn-default" %>
		  </span>
	  </h3>
	  <div id="seance_groups">
		  <% if @update.seance.errors.key?(:seance_groups) %>
		  <% @update.seance.errors.full_messages_for(:seance_groups).each do |message| %>
  	  <div class="alert alert-danger"><%= message %></div>
 	    <% end %>
		  <% end %>
		  <%= f.simple_fields_for :seance_groups do |seance_group| %>
      <%= render 'seance_group_fields', f: seance_group %>
		  <% end %>
	  </div>

	  <h3>Encadrants
		  <span class="actions">
			  <%= link_to_add_association icon(:plus), f, :seance_users, "data-association-insertion-node": '#seance_users', class: "btn btn-default" %>
		  </span>
	  </h3>
	  <div id="seance_users">
		  <% if @update.seance.errors.key?(:seance_users) %>
		  <% @update.seance.errors.full_messages_for(:seance_users).each do |message| %>
  	  <div class="alert alert-danger"><%= message %></div>
 	    <% end %>
		  <% end %>
		  <%= f.simple_fields_for :seance_users do |seance_user| %>
      <%= render 'seance_user_fields', f: seance_user %>
		  <% end %>
	  </div>
  <% end %>

  <%= form.button :submit %>
<% end %>
